<div class="index">
  <h1>All ToDos</h1>

  <ul class="todos">
    <% @todos.each do |todo|%>
    <li class="todo"><%= link_to todo.title, todo_url(todo) %> </li>
    <% end %>
  </ul>
  <div class="newtodo">
    <%= link_to "New ToDo", new_todo_url %>
  </div>
</div>
