/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .index {
   font-family: sans-serif;
   font-weight: lighter;
 }

 .loggedin{
   font-family: sans-serif;
   font-weight: lighter;
   position: relative;
   left: 50px;
   bottom: 50px;
 }

 .signout{
   position:relative;
   top: 10px;
   color: rgb(221, 11, 80);
 }

 .index h1{
   text-align: center;
   font-size: 28px;
   margin-bottom: 25px;
 }

 .new{
   font-family: sans-serif;
   font-weight: lighter;
   font-size: 12px;
   color: #aaa;
   width: 215px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   top: 100px;
 }
.newsubmit{
  position: relative;
  right: 30px;
}
 .new h2{
   text-align: center;
   font-size: 24px;
   position: relative;
   bottom: 50px;
   color: #555;
 }

 .showlinks{
   text-align: center;
   position: relative;
   width: 300px;
   right: 50px;
   bottom: 30px;
   font-size: 17px;
   color: #df142c;
 }



 .editlink{
   margin-right: 40px;
 }

 .indexlink{
   margin-right: 40px;
 }

 .new h3{
   text-align: center;
   position: relative;
   bottom: 50px;
   padding-top: 10px;
 }
 .newtodo{
   text-align: center;
   font-size: 16px;
   color: rgb(221, 11, 80);
   padding: 10px;
   width:100px;;
   margin-right: auto;
   margin-left: auto;
 }

 .todo{
   transition: color 1s ease;
   width:200px;
   margin-left: auto;
   margin-right: auto;
   text-align: center;
   padding-bottom: 15px;
 }

 .todo:hover{
   color: red;
 }

 .title{
   font-size: 60px;
   text-align: center;
   font-family: sans-serif;
   font-weight: lighter;
   position: relative;
   top: 15px;
 }
 .title qq{
   color: #cb1218;


 }
 .formbutton{
   background-color: #cb1218;
   border-radius: 3px;
   border-style: solid;
   border-width: 1px;
   border-color: #cb1218;
   padding: 8px;
   font-family: sans-serif;
   font-size: 15px;
   color: white;
   position: relative;
   left: 70px;
   top: 20px;
 }

 .editsubmit{
   position: relative;
   right: 20px;
 }

 .formbuttonshow{
   background-color: #cb1218;
   border-radius: 3px;
   border-style: solid;
   border-width: 1px;
   border-color: #cb1218;
   padding: 8px;
   font-family: sans-serif;
   font-size: 15px;
   color: white;
   position: relative;
   left: 51px;
   bottom: 60px;
 }

 .pomo{
   font-size: 18px;
 }

 .help {
   position: relative;
   bottom: 500px;

 }

 .forminput{
   border-radius: 3px;
   border-style: solid;
   border-width: 1px;
   border-color: #aaa;
   width: 200px;
   padding: 5px;
 }

 .signin{
   font-family: sans-serif;
   font-weight: lighter;
   font-size: 12px;
   color: #aaa;
   width: 215px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   top: 100px;
 }

 .signup{
   font-family: sans-serif;
   font-weight: lighter;
   font-size: 12px;
   color: #aaa;
   width: 215px;
   margin-left: auto;
   margin-right: auto;
   position: relative;
   top: 100px;
 }

 .sign{
   color: black;
   font-size: 17px;
   text-align: center;
   font-family: sans-serif;
   position: relative;
   top: 50px;
 }

 .link{
   color: #b82b38;
 }
 #defaultCountdown {

     height: 60px;
     line-height: 60px;
     border-radius: 5px;
 }
 .hasCountdown {
     text-align: center;
     position: relative;
     bottom: 300px;
     color: #330101;
     font-size: 26px;
     font-weight: normal;
     font-family: Georgia, "Times New Roman", Times, serif;
 }
